@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "EudoxusSans";
    src: url(../src/font-family/EudoxusSans-Bold-BF659b6cb1408e5.ttf);
}

@font-face {
    font-family: "EudoxusSans400";
    src: url(../src/font-family/EudoxusSans-Regular-BF659b6cb1d4714.ttf);
}

.EudoxusSans {
    font-family: "EudoxusSans";
}

.EudoxusSans2 {
    font-family: "EudoxusSans400";
}

:root {
    --volume-fill: 55%;
    /* Example value */
    --color-white: #C89E43;
    --color-yellow-primary: #FFFBAD;
    /* Adjust as needed */
}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    max-width: 649.71px;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, yellow var(--volume-fill), var(--color-white) var(--volume-fill));
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    position: relative;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #FFFBAD;
    cursor: pointer;
}

.custom-slider::-moz-range-thumb {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #FFFBAD;
    cursor: pointer;
}

.custom-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--color-white);
    background: linear-gradient(to right, var(--color-yellow-primary) var(--volume-fill), var(--color-white) var(--volume-fill));
}

.custom-slider::-moz-range-track {
    width: 100%;
    height: 100%;
    background: var(--color-white);
    background: linear-gradient(to right, var(--color-yellow-primary) var(--volume-fill), var(--color-white) var(--volume-fill));
}

/* Add this CSS to your stylesheet */
.link-hover {
    text-decoration: none;
    position: relative;
}

.link-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: goldenrod;
    /* or the specific golden color you want */
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

.link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.main:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: white;
}

/* Container for the slick slider */
.slick-slider {
    width: 80%;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center the slider */
}

/* Add gap between slides */
.slick-slide {
    padding: 0 15px;
    /* Adjust horizontal padding for spacing between slides */
    box-sizing: border-box;
    /* Include padding in the element's total width */
}

/* Ensure images are responsive and fit well within slides */
.slider-image {
    width: 100%;
    /* Make images responsive */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 8px;
    /* Optional: Rounded corners for images */
}

/* Customize navigation arrows (optional) */
.slick-prev,
.slick-next {
    font-size: 24px;
    color: #FFFFFF;
    z-index: 1;
    /* Ensure buttons are above the slides */
}

.slick-dots li button:before {
    font-size: 9px !important;
    line-height: 11px !important;
    opacity: unset !important;
    color:
        white !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    z-index: 10;
}

.slick-dots {
    bottom: -50px !important;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li.slick-active button:before {
    /* opacity: .75; */
    color: #AA832F !important;
}

.slick-dots li.slick-active button:before {
    position: relative !important;
    display: inline-block !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    margin: 0 2px !important;
    padding: 0 !important;
    background: #AA832F !important;
    cursor: pointer !important;
}

.gradient-background {
    background: linear-gradient(327.64deg, rgba(170, 131, 47, 0.04) 0%, rgba(170, 131, 47, 0.06) 100%);
}

.gradient-button {
    background: linear-gradient(180deg, #AA832F 0%, #795302 100%);
    transition: background 0.3s ease;
}

.gradient-button:hover {
    background: linear-gradient(180deg, #795302 0%, #AA832F 100%);
}